.padding-20{
    padding:20px;
}
.list{
    list-style:none;
    color:#2e2eb6;
}
.list-component{
    text-align: center;
}
ol.list {
    /* display: flex; */
    text-align: left;
    padding: 0;
    /* align-items: initial; */
}
li{
	color: darkcyan;
    font-family: cursive;
    font-weight: 500;
}