.sample-container{
    width:100%;
    text-align: center;
}
.sample-container-heading{
    color:#2a2a4b;
}
.sample-container-heading {
    color: #2a2a4b;
    /* margin: 0; */
    margin-top: 0;
    width: 100;
    background-color: darkseagreen;
    padding: 22px;
    font-family: cursive;
    color: aliceblue;
}